:host {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: rgb(169, 188, 208);
    background: linear-gradient(90deg, rgba(169, 188, 208, 1) 0%, rgba(216, 219, 226, 1) 35%, rgba(88, 164, 176, 1) 100%);
}
button {
    --bs-btn-color: #ffffff;
    --bs-btn-bg: #1ca1b6;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #188c9e;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #157786;
    --bs-btn-active-border-color: #157786;
}
#cuenta-a-registrar {
    color: rgb(106, 123, 126);
}
#contenedor-2 {
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Align items to the bottom */
    overflow: hidden;
}
#contenedor-2 img {
    width: 94%;
    height: auto; 
    max-height: 100%; 
    object-fit: contain;
}
h1{
    font-size: 6rem;
}
#btn-crear-cuenta{
    height: 4rem;
    font-size: 1.5rem;
}

.fondo-logo {
    position: relative; /* Asegura que el pseudo-elemento se coloque en relación con este contenedor */
    background: rgb(169, 188, 208);
    background: linear-gradient(90deg, rgba(169, 188, 208, 1) 0%, rgba(216, 219, 226, 1) 35%, rgba(88, 164, 176, 1) 100%);
    overflow: hidden; /* Asegura que el pseudo-elemento no sobresalga */
}

.fondo-logo::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/img/logo.png'); /* Reemplaza con la ruta de tu logo */
    background-size: 40%; 
    background-repeat: no-repeat;
    background-position: 200px center;
    opacity: 0.1; /* Marca de agua */
    z-index: 0.1; /* Envía la imagen detrás del contenido */

}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    font-family: "Poppins", sans-serif;
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #edf2f4;
    border-radius: 10px;
    padding: 40px 10px 10px;
    text-align: center;
    width: 250px;
    height: 130px;
    margin-left: 10px;
    margin-top: 0px;
    border: 1px solid #2b2d42;
    background-color: transparent;

  }

  .card p {
    margin: 0;
}

.card-title {
    margin-top: 0;
    margin-bottom: 8px; /* Ajusta este valor según el espacio que desees debajo del <h2> */
}