<div class="d-flex flex-column flex-md-row align-items-center fondo-logo" style="height: 100%;">
    <div class="d-flex flex-column col-md-7 p-5" id="contenedor-1">
        <h1 class="mb-4 fw-semibold lh-1">Clínica-OnLine</h1>
        <h3>La salud que mereces, el cuidado que necesitas.</h3>
        <h3>Tu salud, nuestra prioridad.</h3>
        <ul class="mt-4" style="list-style-type: square; padding-left: 1rem;">
            <li><strong>Consultas generales y especializadas:</strong> Atención para problemas de salud general y consultas con especialistas en diversas áreas médicas.</li>
            <li><strong>Medicina preventiva:</strong> Exámenes y controles de salud para prevenir enfermedades y fomentar el bienestar.</li>
            <li><strong>Diagnóstico por imágenes:</strong> Estudios de radiología, ecografía, resonancia magnética y tomografía.</li>
            <li><strong>Laboratorio clínico:</strong> Análisis de sangre, orina y otros estudios de laboratorio para un diagnóstico preciso.</li>
            <li><strong>Urgencias y emergencias:</strong> Atención inmediata para situaciones de salud críticas o inesperadas.</li>
            <li><strong>Salud mental:</strong> Asesoramiento y terapia psicológica para el bienestar emocional y mental.</li>
            <li><strong>Rehabilitación física:</strong> Tratamientos de fisioterapia y terapia ocupacional para recuperación de lesiones.</li>
            <li><strong>Odontología:</strong> Servicios dentales, incluyendo limpieza, extracciones y tratamientos de caries.</li>
            <li><strong>Vacunación:</strong> Programas de vacunación para niños, adultos y viajeros.</li>
            <li><strong>Atención pediátrica:</strong> Cuidado integral para la salud de los más pequeños.</li>
        </ul>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row-md-7 d-flex justify-content-between mt-4" style="padding-left: 1rem;">
            <div class="info">
                <div class="card" style="min-width: 280px;">
                  <h2 class="card-title" >Horarios</h2>
                  <p>Lunes a Viernes de 8:00 a 19:00 hs</p>
                  <p>Sábados de 8:00 a 14:00 hs</p>
                </div>
                <div class="card" style="min-width: 280px;">
                  <h2 class="card-title" >Contacto</h2>
                  <p>123-456-7890</p>
                  <p>123-456-7891</p>
                </div>
                <div class="card" style="min-width: 280px;">
                  <h2 class="card-title" >Ubicación</h2>
                  <p>Av. Velez Sarsfield 245</p>
                  <p>C.A.B.A. - Argentina</p>
                </div>
              </div>
              
        </div>
    </div>
    
    <div class="col-md-5 d-flex justify-content-center" id="contenedor-2" style="height: 90%;">
        <img src="../../../assets/img/clinica-médica.jpg">
    </div>
</div>