<div class="container">

    <div class="recuadroDatos">
        <div class="datos">
            <h1>{{name}}</h1>
           <p>- {{mail}}</p>
           <p><a href="{{link}}" target="_blank">{{link}}</a></p>
           <p>- {{title1}}</p>
           <p>{{description1}}</p>
           <p>- {{title2}}</p>
           <p>{{description2}}</p>
        </div>
    </div>

    <div class="recuadroFoto">
        <div class="foto">
            <img src="../../../assets/fotoCarnet.png" alt="foto">
        </div>
    </div>

    <div class="recuadroJuego">
        <div class="juego">
            <h1>{{gameName}}</h1>
            <p>"Batalla Naval" es un juego en el que dos jugadores (el usuario y la computadora) intentan hundir la flota de barcos del oponente. 
                En pantalla se muestra el propio tablero y el tablero del oponente, donde cada uno tiene su flota.
                Esta se compone de 7 barcos, donde se coloca en el tablero de forma automática y aleatoria 
                El juego se desarrolla en turnos, donde el jugador y la computadora alternan para realizar disparos. El jugador debe seleccionar una casilla en el tablero del oponente para disparar.
                Las celdas del tablero se pintan de diferentes colores según el resultado del disparo: Azul para AGUA, y Rojo para TOCADO.
                El juego continúa hasta que uno de los jugadores hunde todos los barcos del oponente.
                </p>
        </div>
    </div>

  </div>