<div class="container">

    <div class="recuadroDatos">
        <div class="datos">
            <h1>{{name}}</h1>
           <p>- {{mail}}</p>
           <p><a href="{{link}}" target="_blank">{{link}}</a></p>
           <p>- {{title1}}</p>
           <p>{{Description1}}</p>
           <p>- {{title2}}</p>
           <p>{{Description2}}</p>
        </div>
    </div>

    <div class="recuadroFoto">
        <div class="foto">
            <img src="../../../assets/fotoCarnet.png" alt="foto">
        </div>
    </div>

    <div class="recuadroJuego">
        <div class="juego">
            <h1>JUEGO</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci optio laboriosam eum recusandae, ratione, perspiciatis error quia facere obcaecati at nostrum mollitia eaque quisquam impedit, quas saepe debitis! Facilis, temporibus?</p>
        </div>
    </div>

  </div>