<header>
  <nav class="navbar">
    <nav class="navbar-left">
      <img id="logo" src="../../../assets/home-icon.png" alt="Logo">
      <li><a [routerLink]="['/home']">HOME</a></li>
      <li><a [routerLink]="['/quiensoy']">QUIEN SOY</a></li>
    </nav>
    <nav class="navbar-right">
      <li class="user" *ngIf="this.auth.currentUser?.email">USUARIO: {{this.auth.currentUser?.email}}</li>

      @if (this.auth.currentUser?.email) {
        <li><a href="#" (click)="logout()">CERRAR SESIÓN</a></li>
      }@else {
        <li><a [routerLink]="['/login']">INICIAR SESIÓN</a></li>
      }
        
    </nav>
  </nav>  
</header>

<router-outlet />
