:host {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: rgb(169, 188, 208);
    background: linear-gradient(90deg, rgba(169, 188, 208, 1) 0%, rgba(216, 219, 226, 1) 35%, rgba(88, 164, 176, 1) 100%);
}
.btn-cancelar{
    --bs-btn-color: #ffffff;
    --bs-btn-bg: #9b9b9b;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #7e7e7e;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #666666;
    --bs-btn-active-border-color: #666666;
}
button {
    --bs-btn-color: #ffffff;
    --bs-btn-bg: #1ca1b6;
    --bs-btn-hover-color: #ffffff;
    --bs-btn-hover-bg: #188c9e;
    --bs-btn-active-color: #ffffff;
    --bs-btn-active-bg: #157786;
    --bs-btn-active-border-color: #157786;
    --bs-btn-disabled-border-color: #157786;
    --bs-btn-disabled-color: #ffffff;
    --bs-btn-disabled-bg: #157786;
}

.card-formulario{
    background-color: #D8DBE2;

}


/*Asegura que el fondo de la tabla sea transparente */
.card-body-paciente{
    background: rgb(208, 169, 169); /* Color similar al host */
    background: linear-gradient(90deg, rgb(208, 169, 169) 0%, rgba(216, 219, 226, 1) 35%, rgb(176, 88, 88) 100%);
    /*border-radius: 5px; /* Esquinas redondeadas */
    /*border: 25px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    /*border-color: red;*/
}

.card-body-especialista{
    background: rgb(174, 208, 169); /* Color similar al host */
    background: linear-gradient(90deg,  rgb(174, 208, 169) 0%, rgba(216, 219, 226, 1) 35%, rgb(98, 176, 88) 100%);
    /*border-radius: 5px; /* Esquinas redondeadas */
    /*border: 25px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    /*border-color: red;*/
}

.card-body-admin{
    background: rgb(207, 208, 169); /* Color similar al host */
    background: linear-gradient(90deg, rgb(207, 208, 169) 0%, rgba(216, 219, 226, 1) 35%, rgb(176, 174, 88) 100%);
    /*border-radius: 5px; /* Esquinas redondeadas */
    /*border: 25px; /* Esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    /*border-color: red;*/
}

/* Asegura que el fondo de la tabla sea transparente */
app-tabla-pacientes, app-tabla-especialistas, app-tabla-administradores {
    background-color: transparent;
}

.btn-1{
    background-color: rgba(250, 86, 86, 0.342);
}
.btn-2{
    background-color: rgba(86, 250, 94, 0.342);
}
.btn-3{
    background-color: rgba(243, 255, 138, 0.342);
}


.fab-container {


}
  
.fab-button {
display: flex;
justify-content: center;
align-items: center;
width: 56px;
height: 56px;
background-color: #007bff;
color: white;
border-radius: 50%;
box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
border: none;
outline: none;
}

.fab-button:hover {
background-color: #0056b3;
}


.card1 {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #007bff;
}

.card1:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #0056b3;
}

.pacientes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas de igual tamaño */
    gap: 16px; /* Espacio entre las cards */
    padding: 16px; /* Margen interno alrededor de la cuadrícula */
}

.card-modal {
    background-color: #C1CCD9;
}

.card-modal-nueva-especialidad{
    background-color: #C1CCD9;
}