<div class="table-responsive">
  <table class="table text-center">
    <thead style="background-color: red; color: white;">
      <tr>
        <th style="width: 34%;">Nombre</th>
        <th style="width: 22%;">Tipo</th>
        <th style="width: 22%;">Cantidad de Ruedas</th>
        <th style="width: 22%;">Capacidad Promedio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listVehicles" (click)="seleccionar_click(item)">
        <th scope="row">{{ item.name }}</th>
        <td>{{ item.type }}</td>
        <td>{{ item.cantidadDeRuedas }}</td>
        <td>{{ item.capacidad }}</td>
      </tr>
    </tbody>
  </table>
</div>