<div class="container">

    <div class="recuadroDatos">
        <div class="datos">
            <h1>Daniel Rodriguez Rotelli</h1>
           <p>- daniel.rodriguez.rotelli&#64;gmail.com</p>
           <p><a href="https://www.linkedin.com/in/danielrodríguezrotelli" target="_blank">www.linkedin.com/in/danielrodríguezrotelli</a></p>
           <p>- Profesor de Musica - EMPA</p>
           <p>- Estudiante de Programación - UTN</p>
        </div>
    </div>

    <div class="recuadroFoto">
        <div class="foto">
            <img src="../../../assets/fotoCarnet.png" alt="foto">
        </div>
    </div>

    <div class="recuadroJuego">
        <div class="juego">
            <h1>JUEGO</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci optio laboriosam eum recusandae, ratione, perspiciatis error quia facere obcaecati at nostrum mollitia eaque quisquam impedit, quas saepe debitis! Facilis, temporibus?</p>
        </div>
    </div>

  </div>