.container {
    display: flex;           /* Activa el modo flexbox */
    justify-content: space-around; /* Distribuye los recuadros con espacio entre ellos */
    align-items:stretch;     /* Alinea verticalmente los recuadros al centro */
    gap: 20px;               /* Añade espacio entre los recuadros (opcional) */
    padding: 10px;
    margin: 50px; /* Reduje el margen para que no cause problemas en pantallas más pequeñas */
    flex-wrap: wrap; /* Permite que los recuadros se muevan hacia abajo si no caben en una fila */
  }
  
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Espacio entre las palabras y el logo */
  margin-bottom: 50px; /* Espacio entre el título y el contenedor de imágenes */
  margin-top: 5px;
}

.texto-h1 {
  font-size: 100px;
  color: #ff0000; /* Cambia el color según tu diseño */
  margin: 0;
  text-shadow: 1px 1px 2px black, -1px -1px 2px rgb(255, 255, 255);;
}

.logo {
  width: 90px; /* Ajusta el tamaño del logo según sea necesario */
  height: 90px;
  border-radius: 50%;  /* Hace que la imagen sea circular */
  object-fit: cover;   /* Asegura que la imagen se ajuste al contenedor circular sin deformarse */
  box-shadow: 0 4px 8px rgba(240, 59, 59, 0.918); /* Sombra suave */
  border: 2px solid #ffffff;  /* Opcional: borde alrededor del logo */
}

.image-container {
  /*
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 300px;
  */
  display: flex;

  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center;
  gap: 10px;
  /*
  border: 4px groove #755858;     /* Borde gris claro 
  border-radius: 8px;         /* Bordes redondeados 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para darle profundidad 
  max-width: 800px;           /*Ancho máximo del recuadro */
  width: 90%; /* Ajusta el ancho del recuadro (en porcentaje del contenedor padre) */
  height: 100%; /* Ajusta la altura del recuadro (en porcentaje del contenedor padre) */
  margin: 5px auto;             /* Margen superior e inferior */  


}
  
.image {
  width: 200px;
  height: 360px;
  cursor: pointer;
  flex-basis: calc(50% - 20px); /* Dos imágenes por fila, restando el espacio del gap */
  box-sizing: border-box; /* Para asegurarte de que el padding no afecta el ancho total */
  border-radius: 20px; /* Esquinas redondeadas */
  overflow: hidden; /* Para que el borde no afecte el contenido */
  box-shadow: 0 4px 8px rgba(8, 8, 8, 0.918); /* Sombra suave */
  border: 5px solid #ff7d03; /* Borde más grueso de 5px, color azul (puedes cambiar el color) */
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px; /* Mantiene las esquinas redondeadas también en la imagen */
}