/* Contenedor principal */
.container {
  display: flex; /* Usar flexbox para centrar el contenido */
  justify-content: center; /* Centra horizontalmente */
  flex-direction: column;
  align-items: center; /* Centra verticalmente */
  margin: auto;
  margin-top: 20px;
  width: 100%;
  height: 90%; /* Para centrar verticalmente */
  background-image: url('../../../../assets/meza.jpg');
  background-size: contain; /* Asegura que la imagen se vea completa */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  background-position: center; /* Centra la imagen dentro del contenedor */
  /*border: 2px solid #f3c591; /* Recuadro */
}

.rows-table{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 210px;
  width: 76%;
  height: 48%; /* Para centrar verticalmente */
  /*border: 2px solid #f3c591; /* Recuadro */
}

.row-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  size: 50px;
}

/* Contenedor de las vidas */
.life-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 50%; /* Para centrar verticalmente */
  margin-left: 40px;
  margin-right: 200px;
  /*border: 2px solid #f3c591; /* Recuadro */
  border-radius: 10px; /* Bordes redondeados */
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Botones */
.button-group button {
  background-color: #ff9800; /* Color naranja llamativo */
  color: white; /* Texto blanco */
  font-size: 1.5rem; /* Tamaño de letra más grande */
  font-family: 'Arial', sans-serif; /* Fuente simple pero clara */
  padding: 15px 30px; /* Botones más grandes */
  border-radius: 8px; /* Bordes redondeados */
  border: 2px solid #e77b15;; /* Sin borde alrededor del botón */
  cursor: pointer; /* Cursor de puntero al pasar sobre los botones */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Animación suave en hover */
  margin-bottom: 15px; /* Espacio entre botones */
  margin-left: 150px;

}

.button-group button:hover {
  background-color: #ff5722; /* Cambiar a un tono más oscuro en hover */
  transform: scale(1.1); /* Agrandar ligeramente al pasar el mouse */
}


/* Contenedor de la puntuación */
.score-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 50%; /* Para centrar verticalmente */
  margin-right: 40px;
  margin-left: 200px;
 /* border: 2px solid #f3c591; /* Recuadro */
  border-radius: 10px; /* Bordes redondeados */
  background-color: transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

/* Imagen */
.card-image {
  max-width: 200px;
  border-radius: 10px; /* Bordes redondeados */
  border: 2px solid #080808; /* Recuadro */
  height: auto;
}

.button-group {
  display: flex;
  flex-direction: column; /* Colocar botones en columna */
  align-items: center; /* Centrar horizontalmente */
}



/* Responsive: ajustar tamaño para pantallas pequeñas */
@media (max-width: 768px) {
  .card-container {
    flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
    text-align: center;
  }

  .card-image {
    margin-bottom: 20px;
  }

  .button-group {
    margin-bottom: 20px;
  }
}

/* Título de la puntuación */
.life-title {
  font-size: 3rem; /* Tamaño de fuente más grande */
  color: white; /* Texto en color blanco */
  font-family: 'Georgia', serif; /* Fuente elegante */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra suave */
  padding: 10px; /* Espaciado interno para el borde */
}

/* Estilo específico para el puntaje */
.life-points {
  font-size: 4rem; /* Tamaño del puntaje aún más grande */
  color: white; /* Texto en color blanco */
  font-family: 'Georgia', serif; /* Fuente elegante */
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5); /* Sombra suave */
  display: inline-block; /* Para que se ajuste al tamaño del contenido */
}


/* Título de la puntuación */
.score-title {
  font-size: 3rem; /* Tamaño de fuente más grande */
  color: white; /* Texto en color blanco */
  font-family: 'Georgia', serif; /* Fuente elegante */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra suave */
  padding: 10px; /* Espaciado interno para el borde */
}

/* Estilo específico para el puntaje */
.score-points {
  font-size: 4rem; /* Tamaño del puntaje aún más grande */
  color: white; /* Texto en color blanco */
  font-family: 'Georgia', serif; /* Fuente elegante */
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5); /* Sombra suave */
  display: inline-block; /* Para que se ajuste al tamaño del contenido */
}