<div class="container is-flex is-justify-content-center is-align-items-center">
  
  <div class="rows-table">
    <!-- Vidas e intentos -->
    <div class="life-container" style="flex: 1; text-align: center;">
      <p class="life-title">Vidas:</p>
      <p class="life-points">{{ lifes }}</p>
    </div>  

    <!-- mensaje game over -->
    <div *ngIf="gameOver" class="image-container">
      <h1>{{message}}</h1>
    </div>
 
    <!-- Imagen de la carta -->
    <div *ngIf="!gameOver" class="image-container">
      <img [src]='image' alt="Imagen" class="card-image">
    </div>

    <!-- Botones de juego -->
    <div *ngIf="isPlaying" id="play-buttons" class="button-group" #playButtons style="visibility: hidden;">
      <button class="button is-primary mx-1" (click)="play('Mayor')">MAYOR</button>
      <button class="button is-primary mx-1" (click)="play('Menor')">MENOR</button>
    </div>
  
    <!-- Puntuación -->
    <div class="score-container" style="flex: 1; text-align: center;">
      <p class="title score-title">Puntos: </p>
      <p class="title score-points">{{ userScore }}</p>
    </div>
  </div>

  <div class="row-btn">
    <button id="start-button" (click)="startGame()" #startButton sytle="visibility: visible">Comenzar</button>
  </div>

</div>
  