<div class="container py-3" style="margin-top: 20px;">
    <div class="p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Helados</h1>
    </div>
  
    <div>
      <div class="row row-cols-1 row-cols-md-3 mb-3">
        <app-create-icecream (helado)="alta($event)"></app-create-icecream>

        <app-update-icecream [item]="iceCream" (confirmar)="modificar()"></app-update-icecream>

        <app-delete-icecream [item]="iceCream" (confirmar)="borrar()"></app-delete-icecream>

      </div>
  
      <h2 class="display-6 text-center mb-4">Helados listos</h2>

      <app-list-icecream [list]="list" (seleccionar)="seleccionar($event)"></app-list-icecream>

    </div>
  </div>
