
<div class="container">
    <div class="hangman-container has-text-centered mt-6 is-flex is-align-items-center">
        
        <!-- Primer contenedor: Imagen y palabra a descubrir -->
        <div class="img-container is-flex is-flex-direction-column is-align-items-center" style="flex: 1; margin-right: 20px;">
            <img src="../../../../assets/{{attempts}}-vida.png" alt="Imagen" class="life-image"/>
            <p class="hidden-word">{{ getDisplayWord() }}</p>
        </div>
        
        <!-- Segundo contenedor: Teclado y vidas -->
        <div class="keyboard-container is-flex is-flex-direction-column is-align-items-center" style="flex: 1;">
            <!-- Teclado (solo visible si attempts > 0) -->
            <div id="alphabet-container" class="keyboard-grid" *ngIf="attempts > 0">
                <button *ngFor="let letter of alphabet" (click)="guessLetter(letter)" id="letter-{{ letter }}" class="alphabet">
                    {{ letter }}
                </button>
            </div>
            <!-- Notificación de Game Over (solo visible si attempts === 0) -->
            <div *ngIf="showNotification" class="notification show">
                <div class="notification-message">
                    GAME OVER
                    <br>
                    Descubriste {{rightWordsCounter}} palabras.
                </div>
                <button class="reboot" (click)="hideNotification()">REINICIAR</button>
            </div>
            <div class="info-container">
                <p class="lifes">Vidas: {{ attempts }}</p>
                <p class="score-title">Puntos: {{ points }}</p>
              </div>
        </div>

        <!-- Botón SIGUIENTE -->
        <button *ngIf="showNextButton" class="button-next is-primary mb-6" (click)="nextClick()">SIGUIENTE</button>

    </div>
</div>

