<div class="registrer-form">
    <div class="title">
      <h1>Registrarse</h1>
    </div>
    <div class="recuadro">
      <div class="input-group">
        <label for="mail">E-mail:</label>
        <input class="input-text" id="mail" [(ngModel)]="mail">
      </div>
      <div class="input-group">
        <label for="clave">Clave:</label>
        <input class="input-text" id="clave" [(ngModel)]="pass">
      </div>
      <div>
        <button class="button-registrer" (click)="registrar()">Registrar</button>
      </div>
      <div class="notification is-danger is-light" style="visibility: hidden;">
        <button class="delete" (click)="esconderNotificacion()"></button>
        {{notificacion}}
      </div>
    </div>
  </div>
  